
.welcome {
	margin-top: 80px;
}

.welcome span {
	font-size: x-large;
}

.home_tips {
	text-align: left;
}

.function {
	margin-left: 100px;
}

.function_list {
	margin-left: 180px;
}